{# adblock #}
<script>
  window.addEventListener('load', function () {
    const adContainer = document.getElementById('container-da5116b7260295a6a673c47a524c6fc9');

    // Se o banner não tem filhos ou está vazio, provavelmente AdBlock está ativo
    if (!adContainer || adContainer.children.length === 0) {
      document.body.innerHTML = `
        <div style="position:fixed; top:0; left:0; width:100%; height:100%;
             background:#111; color:#fff; display:flex; align-items:center;
             justify-content:center; font-size:22px; text-align:center; padding:20px;">
          Detectamos AdBlock ativo.<br><br>
          Por favor, desative e atualize a página para continuar usando o site.
        </div>
      `;
    }
  });
</script>
{# AdsTerra - Native Banner #}
<script async="async" data-cfasync="false"
  src="//pl28236874.effectivegatecpm.com/da5116b7260295a6a673c47a524c6fc9/invoke.js"></script>
{# Popunder #}
<script type="text/javascript"
  src="//pl28236926.effectivegatecpm.com/97/79/d5/9779d58ff4987e0f7906a5d0828388e5.js"></script>
{% include "devTool.njk" %}