{# AdsTerra - Native Banner #}
<script async="async" data-cfasync="false"
  src="//pl28236874.effectivegatecpm.com/da5116b7260295a6a673c47a524c6fc9/invoke.js"></script>
{# Popunder #}
<script type="text/javascript"
  src="//pl28236926.effectivegatecpm.com/97/79/d5/9779d58ff4987e0f7906a5d0828388e5.js"></script>
{# Social Bar #}
<script type="text/javascript"
  src="//pl28236952.effectivegatecpm.com/3b/77/a7/3b77a7b973f7284e77d8a118365e6538.js"></script>
<!-- {% include "devTool.njk" %} -->