<footer class="bg-[#1F1F1F] mt-32">
  <main class="w-[1200px] mx-auto text-xs font-normal text-[#aaaaaa] py-16 px-5 flex flex-col gap-12 justify-center items-center
      ">
    <div class="border-[1px] border-[#30302F] w-24"></div>
    <div class="flex justify-between sm:flex-row flex-col items-center gap-12 w-full">
      <h1 class="text-white text-sm font-bold flex-1">Pingu TV+: ANIMES, SÉRIES, NOVELAS, FILMES E DESENHOS ONLINE!
        NETFLIX, DISNEY+, AMAZON PRIME VIDEO, GLOBOPLAY, HBO MAX, PARAMOUNT+, APPLE TV+, E O MELHOR, DE GRAÇA!</h1>
        <div id="lottie-animation" onclick="window.location.href='/'" style="width: 68px; height: 68px; margin: auto; flex: 1 1 0%; cursor: pointer;"></div>
        <div-menu class="flex items-start justify-between w-full gap-20 flex-1">
          <div class="flex flex-col gap-4">
            <span class="font-medium text-white text-sm">CATEGORIAS</span>
            <nav>
              <ul>
                <li><a href="/">Netflix</a></li>
                <li><a href="/">Disney+</a></li>
                <li><a href="/">HBO Max</a></li>
                <li><a href="/">Apple TV+</a></li>
                <li><a href="/">Globoplay+</a></li>
                <li><a href="/">Paramount+</a></li>
                <li><a href="/">Amazon Prime Video</a></li>
              </ul>
            </nav>
          </div>
          <div class="flex flex-col gap-4">
            <span class="font-medium text-white text-sm">MENU</span>
            <nav>
              <ul>
                <li><a href="/">Filmes</a></li>
                <li><a href="/">Series</a></li>
                <li><a href="/">Desenhos</a></li>
                <li><a href="/">Animes</a></li>
                <li><a href="/">Politíca de Privacidade</a></li>
                <li><a href="https://ozenvitta.com/pvmonob/?mcr=AMB24786454" target="_blank">Ozenvitta</a></li>
              </ul>
            </nav>
          </div>
        </div-menu>
    </div>
    <div>
      <span>@ 2024 Pingu TV+: Animes, Séries, Novelas, Filmes e Desenhos Online! Netflix, Disney+, Amazon Prime Video,
        Globoplay, HBO Max, Paramount+, Apple TV+, e o melhor, de graça!. Todos os Direitos do Codigo do Site Reservados!</span>
    </div>
  </main>
</footer>
<script>
  var animation = lottie.loadAnimation({
    container: document.getElementById('lottie-animation'), // Elemento onde será renderizado
    renderer: 'svg', // Renderizador (svg, canvas, html)
    loop: true, // Repetir animação
    autoplay: true, // Iniciar automaticamente
    path: '/images/pinguShake.json' // Caminho para o arquivo JSON
  });
</script>